.metadata/
.recommnders/
eclipse_neon2_we
Servers/
.project
.classpath
*.class
*.jar
Webengineering_II/Testing/Selenium/*
Webengineering_II/Testing/SelniumCalculatorTest/bin
/Webengineering_II/spring-framework-5.2.1.RELEASE
