<table>
    <tr *ngFor="let address of addressList">
        <td>ID: {{address.id}}</td>
        <td>{{address.addressform}}{{address.christianname}} {{address.name}}</td>
        <td>Email: {{address.email}}</td>
        <td>Phone: {{address.phone}}</td>
        <td>Mobile: {{address.mobile}}</td>
        <td>{{address.street}} {{address.number}}</td>
        <td>{{address.postcode}} {{address.city}}</td>
        <td>{{address.country}}</td>
        <td>Birthday: {{address.birthday}}</td>
    </tr>
</table>