<ul>
    <li *ngFor="let address of addressList">Address:
        <div>
            <ul>
                <li>ID: {{address.id}}</li>
                <li>{{address.addressform}}{{address.christianname}} {{address.name}}</li>
                <li>Email: {{address.email}}</li>
                <li>Phone: {{address.phone}}</li>
                <li>Mobile: {{address.mobile}}</li>
                <li>{{address.street}} {{address.number}}</li>
                <li>{{address.postcode}} {{address.city}}</li>
                <li>{{address.country}}</li>
                <li>Birthday: {{address.birthday}}</li>
            </ul>
        </div>
    </li>
</ul>